#################################!!!README!!!#######################################

#A simple bash script to pull remote branch changes 
#This way any change in the codebase will be synchronized with 
#the VM. This script is controlled with systemd git-controller svc.
#This is going to be initialized when you "vagrant up"
#You can simply make it ;
#Stop =>  "sudo systemctl stop git-controller"
#Start =>  start "sudo systemctl start git-controlle"
#Restart =>  "sudo systemctl restart git-controlle"
#Disable => "sudo systemctl disable git-controlle"

#################################!!!README!!!#######################################

[Unit]
Description="Code change controller service for example-flask-app"
#Wait until whole network up and run
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/home/vagrant/example-flask-app
ExecStart=/bin/bash git-controller.sh
#Install at boot
[Install]
WantedBy=multi-user.target